@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&family=Figtree:wght@400;600;700&family=Inter:wght@400;600;700&family=Outfit:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --tile: rgba(7, 5, 19, 0.03);
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
  }
}